* {
    margin: 0;
    padding: 0;
}

  /*body{
    background-color:#f3cd05;
  }*/
.head {
    /*background-color: rgb(253, 220, 148);*/


}

header{
    
    height:100vh;
    width: 100%;
    background-image: url(../img/view1.jpg);
    background-size:cover;
}
header h1{
    position: absolute;;
    color: white;
    font-size: 72px;
    top: 100px;
}


.paragraph {
    /*background-color: #f49f05;*/
    height: 200px;
    margin: 0px 0px;

}

.paragraph2 {
    /*background-color: #f18904;*/
    height: 200px;
    margin: 0px 0px;


}

.paragraph3 {
    /*background-color: #fff067;*/
    height: 200px;
}

.mragin {
    width: 80%;
    margin: 0 auto;
}

.div-left {
    width: 53%;
    float: left;
}

.div-right {
    width: 45%;
    float: right;
}

.border-top {
    border-top-style: dashed;
    border-top-color: green;
    border-top-width:3px;
}

.border {
    border-style: solid;
    border-color: slateblue;
}
.foot{
    background:rgb(36, 206, 93) url("../img/footer3.jpg") repeat;
    height:350px;
    clear: both;
    
}
.footer-upper{
position: relative;
padding: 50px 0px 0px;
color: #c2b2a1;
line-height: 2em;
border-top: 4px solid #8bc34a;
}
.text-center{
    text-align:center;
}
p,li {
    font-size:17px;

}

li {
    margin-bottom:10px;
}
/*計時器動畫*/
.counter{
    background: #7a7fb6;
    text-align: center;
    position: relative;
}
.counter .counter-content{
    padding: 30px 20px 50px;
    color: #fff;
    position: relative;
}
.counter:before,
.counter:after,
.counter .counter-content:before,
.counter .counter-content:after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    box-shadow: inset 0 2px 2px #000;
    top: 15px;
    left: 15px;
}
.counter:after{
    left: auto;
    right: 15px;
}
.counter .counter-content:before,
.counter .counter-content:after{
    box-shadow: inset 0 -2px 2px #000;
    top: auto;
    bottom: 15px;
}
.counter .counter-content:after{
    left: auto;
    bottom: 15px;
    right: 15px;
}
.counter .counter-icon{
    display: inline-block;
    font-size: 40px;
    margin-bottom: 15px;
}
.counter .counter-value{
    display: block;
    font-size: 50px;
    margin-bottom: 15px;
}
.counter .title{
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.71);
}
@media only screen and (max-width: 990px){
    .counter{ margin-bottom: 20px; }
}                  